/*
Author: Giuseppe Raineri
Date: 05/02/2024

Indice:
00- Reser
01-Utilities
02-Header
03-Jumbo
04-Main
XX- Media Queries
*/

/* 00 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 01 */
body {
    font-family: 'Open Sans', sans-serif;
}

/* 02 */
header {
    background-color: #F8F7F4;
}

nav {
    width: 100vw;
    height: 100px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDesktop {
    display: none;
}

/* Sx */
.navSx {
    display: flex;
    align-items: center;
}


.hamburger {
    font-size: 25px;
    margin-left: 6px;
    margin-right: 20px;
}

.logo img {
    width: 90px;
    margin-right: 20px;
}

.linkNav {
    display: none;
}

/* Dx */
.navDx {
    display: flex;
    align-items: center;
}

.lente {
    font-size: 20px;
    margin-right: 20px;
}

.boxRicerca {
    display: none;
}


.logIn {
    display: none;
}

.btn1 {
    width: 100px;
    height: 48px;
    border-radius: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.btn1 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* 03 */
.jumbo {
    padding: 24px;
    background-color: #F8F7F4;
}

.jumbo_upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.badge {
    width: 333px;
    height: 40px;
    border-radius: 30px;
    background-color: #EFB1EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge span {
    font-weight: 600;
}

.jumbo_upper h1 {
    padding: 40px 0 24px;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.jumbo_upper p {
    font-size: 20px;
    text-align: center;
}

.btn2 {
    width: 150px;
    height: 58px;
    border-radius: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px
}

.btn2 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


/* XX */
@media screen and (min-width: 950px) {
    .hamburger {
        display: none;
    }

    .linkNav {
        display: flex;
    }

    .linkNav ul {
        display: flex;
        align-items: center;
    }

    .linkNav ul li {
        list-style: none;
        padding: 0 16px;
    }

    .linkNav ul li a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    .logIn {
        display: flex;
    }

    .logIn a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        margin-right: 16px;
    }

    .jumbo_upper h1 {
        font-size: 65px;
    }
}

@media screen and (min-width: 1060px) {
    .lente {
        display: none;
    }
    
    .boxRicerca {
        display: flex;
        justify-content: center;
        margin-right: 16px;
        width: 240px;
        height: 50px;
        background-color: #fff;
        border-radius: 40px;
    }

    input[type=text] {
        border: none;
        background-image: url(assets/svg/glass.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
    }

}


@media screen and (min-width: 1400px) {
    nav {
        padding: 0 40px;
    }

    .logo {
        display: none;
    }

    .logoDesktop {
        display: flex;
    }

    .logoDesktop img {
        width: 90px;
    }

    .jumbo_upper h1 {
        font-size: 80px;
    }
}